$edge-width: 160px;
$edge-height: 160px;
//$edge-background-color: #00ff7c;
$edge-background-color: #00ff7c;
$edge-top: -5px;
$edge-left: -5px;

$coin-width: 150px;
$coin-height: 150px;

$animation-group-duration: 120s;
$animation-single-duration: 15s;

$coin-scene-width: 700px;
$coin-scene-height: 700px;
