//NAVIGATION-BAR
//$nav-background-color: #0D1513;
$nav-background-color: transparent;
$nav-default-text-color: #c7d4cf;

//SCREEN-SIZES
//$screen-base: 1440px;
$screen-base: 3000px;
$screen-xs: 380px;
$screen-sm: 576px;
$screen-md: 1000px;
$screen-lg: 992px;
$screen-xl: 1200px;